@media(min-width: 660px) {
  #mainEpisode {
    max-width: none;
  }
  #backgroundContainer {
    margin: 0;
  }


  #signupInformation {
    width: 50%;
    float: left;
    padding-right: 5%;
  }
  #signupForm {
    margin-top: 10px;
    width: 50%;
    float: left;
    input {
      font-size: 18px;
      padding: 5px 0;
      border: none;
      height: 36px;
    }
    input[type="submit"] {
      background: #005689;
      color: #fff;
      padding: 5px;
      width: 120px;
    }
  }
}