@media(min-width: 1140px) {

//  .sectionHeading {
//    width: 140px;
//    border-top: none;
//    position: absolute;
//    margin-top: 0;
//    margin-bottom: 0;
//  }

  .layerInfo {
    left: 160px;
  }
  #episodeQuote {
    margin-top: 40px;
  }

  #allEpisodes {
    margin-top: 40px;
    border-top: 1px solid #767676;
  }
  #allEpisodesContainer {
    margin-left: 160px;
    margin-top: 5px;
  }
  #content,
  #navContainer,
  #footerContent {
    max-width: 1140px;
  }
  #teaserContainer {
    margin-left: 160px;
  }

  #aboutDates {
    margin-top: 40px;
    border-top: 1px solid #767676;
    padding-top: 0;
    #participate {
      font-size: 22px;
    }
    p {
      max-width: 75%;
    }
  }
  #aboutDatesContainer {
    margin-left: 160px;
    margin-top: 10px;
  }

  footer #soulmatesBanner {
    height: 135px;
    #soulmatesIcon {
      margin-top: 10px;
    }
    .advertContainer {
      padding-left: 120px;
      max-width: 1020px;
    }
  }
}