#endslate {
  display: none;
  position: absolute;
  z-index: 25;
  top: 50%;
  left: 50%;
  @include css3-prefix(transform, translateX(-50%) translateY(-50%));
  background-color: $content-bg-color;
  cursor: auto;
  //  height: calc(100% - #{$yt-slider-height + $yt-player-controls-height});
  width: 100%;
  height: 100%;

  @media(min-width: 540px) {
    width: 90%;
    height: 90%;
  }

  @media(min-width: 740px) {
    width: 80%;
    height: 80%;
  }

  .close-btn {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    z-index: 10;
    padding: 10px;
    cursor: pointer;
    top: 0;
    right: 0;

    @media(min-width: 740px) {
      top: 24px;
      right: 24px;
    }

  }

  .videos-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //    width: 80%;
    //    height: 80%;
    //    top: 50%;
    //    left: 50%;
    //    @include css3-prefix(transform, translateX(-50%) translateY(-50%));
    //    background-color: $content-bg-color;
    text-align: center;
    overflow: hidden;

//    @media (min-width: 740px) {
//      text-align: center;
//    }

    .inner-container {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      @include css3-prefix(transform, translateX(-50%) translateY(-50%));
      overflow: scroll;

//      @media (min-width: 740px) {
//        width: 100%;
//      }

      h2 {
        color: #FFF;
        display: none;

        @media(min-width: 540px) {
          display: block;
          margin: 0 0 10px 0;
          font-size: 16px;
          padding: 10px 0;
        }

        @media(min-width: 740px) {
          display: block;
          margin: 0 0 10px 0;
          font-size: 18px;
          padding: 20px 0;
        }
      }

      .video {
        cursor: pointer;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding: 0 15px;
        overflow: hidden;
        //max-height: 50%;
        width: 20%;
//        border: none !important;
        border-right: 1px solid #999;

//        @media(min-width: 740px) {
//          border-right: 1px solid #999;
//        }

        &:last-of-type {
          border-right: none !important;
        }

        img {
          position: relative;
          display: block;
          width: 100%;
          overflow: hidden;
          border: 2px solid transparent;

          body.touch & {
            border: none !important;
          }
        }

        &:hover {
          img {
            border: 2px solid $accent-color;
          }
        }

        .video-content {
          position: relative;
          overflow: hidden;
          padding: 5px 0;

          h2 {
            display: block;
            position: relative;
            color: $accent-color;
            padding: 5px 0 10px 0;
            font-size: 13px;
            line-height: 16px;
            font-weight: 500;
            margin: 0;

            @media(min-width: 740px) {
              font-size: 14px;
              line-height: 17px;
            }

            @media(min-width: 980px) {
              font-size: 15px;
              line-height: 18px;
            }
          }

          p {
            margin: 0;
            position: relative;
            padding: 0;
            font-size: 12px;
            line-height: 15px;
            color: #FFF;
            height: 100px;

            display: none;

            @media(min-width: 740px) {
              display: block;
            }
          }

        }
      }

    }
  }

}