.episodeBlock {
  vertical-align: top;
  margin-bottom: 20px;

  &.activeVideo {
    img {
      border: 2px solid $accent-color;
    }
  }

  .thumb-wrapper {
    position: relative;

    body.no-touch &:hover {
      button {
        opacity: 1;
      }
    }

    button {
      display: none;
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 50%;
      @include css3-prefix(transform, translateX(-50%) translateY(-50%) scale(0.66, 0.66));
      opacity: 0.5;
      @include css3-prefix(transition-duration, 0.6s);
    }

    img {
      position: relative;
      width: 100%;
      @include css3-prefix(transition, 0.5s opacity);
      margin-bottom: 10px;
      display: block;
    }

  }

  .episodeBlockContent {
    font-family: "Guardian Egyptian Web", "Egyptian Display", "Guardian Text Egyptian Web", "Egyptian Text", Georgia, serif;

    @media(min-width: 100px) {
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 12px;
      }
    }

    @media(min-width: 660px) {
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }
    }

    @media(min-width: 980px) {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }

    @media(min-width: 1140px) {
      p {
        font-size: 18px;
        span {
          font-size: 14px;
        }
      }
    }
  }

  &.inactiveVideo {

    .thumb-wrapper {
      cursor: pointer;

      button {
        display: block;
        pointer-events: none;
      }
    }

    body.no-touch &:hover {
      img {
        opacity: 0.8;
      }
    }
  }



  @media(min-width: 100px) {
    margin-right: 6%;
    padding: 0;
    width: 47%;
    display: inline-block;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:nth-of-type(2n) {
      padding: 0;
    }
  }

  @media(min-width: 660px) {
    margin-bottom: 30px;
  }

  @media(min-width: 980px) {
    margin-bottom: 40px;
  }

}