#mainEpisodeContent {
  padding: 15px 10px 15px;
  background: #424242;
  position: relative;
//  z-index: 5;
  margin-bottom: 40px;

  //@media(min-width: 980px) {
  //  background: none;
  //}

  //box-sizing: content-box;

  h3, h4 {
    margin: 0;
  }

  h3 {
    font-weight: 100;
    color: $accent-color;
    font-size: 24px;
    line-height: 1.2em;
  }

  p {
    font-size: 14px;
    padding-top: 20px;
    margin-top: 1em;
  }


  @media(min-width: 480px) {
    h3 {
      font-size: 38px;
    }

    p {
      font-size: 16px;
    }
  }

  @media(min-width: 660px) {
    p {
      font-size: 14px;
    }
  }

  @media(min-width: 740px) {
    h3 {
      font-size: 32px;
    }
  }

  @media(min-width: 980px) {
    width: auto;
    max-width: none;
    margin-bottom: auto;
    box-sizing: border-box;
    padding: 20px;

    h3 {
      font-size: 26px;
    }

    p {
      padding-top: 10px;
      font-size: 13px;
    }

    .shareButtons {
      visibility: hidden;
    }

  }


  @media(min-width: 1300px) {

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
    }

  }


}