#mainEpisode {

  @import 'main-episode-video';
  @import 'main-episode-content';

  position: relative;

  &.videoPlaying {
    .startVideo {
      display: none;
    }
    #videoContainer {
      display: block;
    }
  }

  .contentBlock-inner {
    padding-top: 0;
  }

  h4.sectionHeading {
    display: none;
  }

}
