#mainEpisodeContent {
  padding: 15px 10px 15px;
  background: #424242;
  position: relative;
//  z-index: 5;
  margin-bottom: 40px;

  h3, h4 {
    margin: 0;
  }

  h3 {
    font-weight: 100;
    color: $accent-color;
    font-size: 24px;
    line-height: 1.2em;
  }

  p {
    font-size: 14px;
    padding-top: 20px;
    margin-top: 1em;
  }


  @media(min-width: 480px) {
    h3 {
      font-size: 38px;
    }

    p {
      font-size: 16px;
    }
  }

  @media(min-width: 660px) {
    max-width: 620px;

    p {
      font-size: 14px;
    }
  }

  @media(min-width: 740px) {
    max-width: 700px;
    h3 {
      font-size: 32px;
    }
  }

  @media(min-width: 980px) {
    max-width: 40%;
    margin-bottom: 80px;
  }

  @media(min-width: 1140px) {
//    margin-left: 160px;
  }

  @media(min-width: 1300px) {
//    margin-left: 240px;
  }

}