#mainEpisode {

  font-size: 0;

  @import 'main-episode-video';
  @import 'main-episode-content';

  position: relative;

  &.videoPlaying {
    .startVideo {
      display: none;
    }
    #videoContainer {
      display: block;
    }
  }

  @media(min-width: 980px) {
    padding: 0 20px;
  }

  #mainEpisodeVideo #backgroundContainer,
  #mainEpisodeContent-container {

    @media(min-width: 980px) {
      display: inline-block !important;
      vertical-align: top;
    }

  }

  #mainEpisodeVideo {

    @media(min-width: 980px) {
      background-color: #424242;
    }

  }

  #mainEpisodeContent-container {

    @media(min-width: 980px) {
      box-sizing: border-box;
      //background-color: #424242;
    }

    .contentBlock-inner {
      @media(min-width: 980px) {
        padding: 0;
      }
    }

  }

  .contentBlock-inner {
    padding-top: 0;
  }

  h4.sectionHeading {
    display: none;
  }

}
