#headerContainer {
  position: relative;
//  margin-bottom: 20px;

  #sc-logo {
    position: relative;
    text-align: right;
    padding: 20px; // 20px 0 20px;

    img {
      height: 40px;

      @media(min-width: 660px) {
        height: 40px;
      }

      @media(min-width: 980px) {
        height: 50px;
      }

      @media(min-width: 1300px) {
        height: 50px;
      }
    }
  }

  #headerImage {
    font-size: 0;
    position: relative;
//    padding: 5px;
    padding:  0 10px 20px 10px;

    @media(min-width: 660px) {
      padding:  0 10px 20px 10px;
    }

    @media(min-width: 980px) {
      padding:  0 20px 20px 20px;
    }

    @media(min-width: 1300px) {
      padding:  0 40px 40px 40px;
    }

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      z-index: 4;
      position: relative;
    }
  }
}

