#headerContainer {
  position: relative;
//  margin-bottom: 20px;

  #sc-logo {
    position: relative;
    text-align: right;
    border: none;
     // 20px 0 20px;

    a {
      position: relative;
      display: inline-block;
      width: 50%;
      padding: 10px 10px;
      border: none;

      img {
        display: block;
        width: 100%;
        border: none;

      }

      @media(min-width: 440px) {
        width: 40%;
      }


      @media(min-width: 660px) {
        //        height: 40px;
        padding: 15px 10px;
      }

      @media(min-width: 980px) {
        //        height: 50px;
        width: 30%;
        padding: 20px;
      }

      @media(min-width: 1300px) {
        //        height: 50px;
        width: 25%;
        padding: 20px 40px;
      }

    }
  }

  #headerImage {
    font-size: 0;
    position: relative;
//    padding: 5px;
    padding:  0 20px 20px 20px;

    .animation {
      position: relative;

      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      .animated-text {
        position: absolute;
        z-index: 5;
        top: 50%;
        @include css3-prefix(transform, translateY(-50%));
      }

      .bg {
        position: relative;
        z-index: 4;
      }
    }

//    @media(min-width: 660px) {
//      padding:  0 20px 20px 20px;
//    }

//    @media(min-width: 980px) {
//      padding:  0 20px 20px 20px;
//    }

    @media(min-width: 1300px) {
      padding:  0 40px 40px 40px;
    }

  }
}

