#headerContainer {
  position: relative;
  margin: 0;

  @media(min-width: 660px) {
    margin: 0 20px;
  }

  @media(min-width: 980px) {
    margin: 0 20px;
  }

  @media(min-width: 1300px) {
    margin: 0 40px;
  }

  #sc-logo {
    position: relative;
    text-align: right;
    border: none;
    font-size: 0;

    #sharePage {
      text-align: left;
      width: 40%;

      .inner {
        padding: 20px;
        @media(min-width: 660px) {
          padding: 20px 0;
        }
      }

    }

    a,
    #sharePage {
      position: relative;
      display: inline-block;
      vertical-align: middle;

    }

    a {
      width: 60%;
      border: none;
      text-align: right;

      img {
        display: inline-block;
        width: 100%;
        border: none;
        padding: 20px;
        position: relative;

        @media(min-width: 440px) {
          width: 80%;
          padding: 15px 20px;
        }

        @media(min-width: 660px) {
          width: 70%;
          padding: 15px 0;
        }

        @media(min-width: 980px) {
          width: 60%;
          padding: 20px 0;
        }

        @media(min-width: 1300px) {
          width: 50%;
          padding: 20px 0;
        }
      }

    }
  }

  #headerImage {
    font-size: 0;
    position: relative;
    //    padding: 5px;
    padding: 0 20px 20px 20px;
//    padding: 0 0 20px 0;

    .animation {
      position: relative;

      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      .animated-text {
        position: absolute;
        z-index: 5;
        top: 50%;
        @include css3-prefix(transform, translateY(-50%));
      }

      .bg {
        position: relative;
        z-index: 4;
      }
    }

        @media(min-width: 660px) {
          padding:  0 0 20px 0;
        }

        @media(min-width: 980px) {
//          padding:  0 20px 20px 20px;
        }

    @media(min-width: 1300px) {
//      padding: 0 40px 40px 40px;
      padding: 0 0 40px 0;
    }

  }
}

