.play-button {
  position: relative;
  width: 80px;
  height: 80px;
  border: none;
  background-color: $accent-color; //rgba(0, 0, 0, 0.6);
  outline: none;
  cursor: pointer;
  @include css3-prefix(transition, 0.5s all);
  @include css3-prefix(border-radius, 50%);
  font-size: 0;

  span {
    content: '';
    position: absolute;
    display: block;
    width: 26px;
    height: 22px;
    background-image: url('#{$imgs-path}playArrow.svg');
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -11px;
  }
}