/*------------------------------------*\
    $YOUTUBE CUSTOM SKIN
\*------------------------------------*/

$yt-asset-path: $imgs-path;
$highlight-color: $accent-color;
$yt-controls-height: $yt-player-controls-height;
$buffer-color: #999;

// Always keep controls visible if the mouse is over the player
//.yt-player:hover .yt-controls-wrapper {
//  opacity: 1 !important;
//}
.yt-controls-wrapper:hover {
  opacity: 1 !important;
}

// Do not show the custom player if we force it from JS
.NO-custom-player .yt-skin-wrapper {
  display: none !important;
  z-index: -9999 !important;
  position: absolute !important;
  top: -10000px !important;
  left: -10000px !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** create a div that keep video ratio */
.yt-player-wrapper {
  height: auto;
  padding-top: 56px;
  position: relative;
  margin-bottom: 30px;
}

.yt-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &.yt-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
  }
}

.yt-loading-wrapper,
.yt-skin-wrapper,
.yt-big-play-btn,
.yt-video-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
}

.yt-skin-wrapper,
.yt-big-play-btn {
  display: none;
}

.yt-ready {

  .yt-big-play-btn,
  .yt-skin-wrapper {
    display: block;
  }

  //  .yt-big-play-btn {
  //    body.no-touch & {
  //      display: block;
  //    }
  //
  //    body.touch & {
  //      display: none !important;
  //    }
  //  }

  .yt-loading-wrapper {
    display: none;
  }
}

.yt-loading-wrapper {
  top: 0;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.9);
}

.yt-skin-wrapper {
  height: 100%;
  text-align: center;
  z-index: 4;
  opacity: 1;
  .yt-no-controls & {

  }
}

.yt-big-play-btn {
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0.3;
  @include css3-prefix(transition-duration, 0.4s);

  &:hover {
    opacity: 1;
  }

  @import 'play-button';

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    @include css3-prefix(transform, translateX(-50%) translateY(-50%));
    @include css3-prefix(transition-duration, 0.4s);
    opacity: 1;
  }

  &.active {
    .play-button {
      opacity: 0;
    }
  }
}

.yt-video-wrapper {
  top: 0;
  height: 100%;
  z-index: 1;
}

.yt-loading {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
  width: 100%;
  text-align: center;
}

.yt-no-controls {
  .yt-controls-wrapper {
    //    @include css3-prefix(transform, translateY(100%));
    opacity: 0;
  }
}

.yt-controls-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: $yt-controls-height;
  background-color: #474747;
  background-color: rgba(71, 71, 71, 0.95);
  @include css3-prefix(transition-duration, 0.4s);
  opacity: 1;
  text-align: left;
  //  @include css3-prefix(transform, translateY(0));

  .yt-controls-left,
  .yt-controls-right {
    position: absolute;
    top: 50%;
    @include css3-prefix(transform, translateY(-50%));
  }

  .yt-controls-left {
    text-align: left;
    left: 0;
    padding-left: 10px;
  }

  .yt-controls-right {
    text-align: right;
    right: 0;
    padding-right: 10px;
  }

}

.yt-btn {
  text-align: left;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;

  //  position: absolute;
  //  top: 50%;
  //  @include css3-prefix(transform, translateY(-50%));
}

.yt-time,
.yt-play-btn,
.yt-languages-btn,
.yt-cc-btn,
.yt-mute-btn,
.yt-embed-btn,
.yt-volume-wrapper,
.yt-fullscreen-btn,
.yt-hd-btn {
  @extend .yt-btn;

  .svg {
    position: relative;

    .shape {
      fill: #FFFFFF;
    }
  }

  &:hover .svg .shape {
    fill: $highlight-color;
  }
}

.yt-play-btn {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;

  .svg {
    position: relative;
    width: 100%;
    height: 100%;

    .yt-play {
      display: block;
    }
    .yt-pause {
      display: none;
    }
  }

  &.active .svg {
    .yt-play {
      display: none;
    }
    .yt-pause {
      display: block;
    }
  }
}

.yt-hd-btn {

  outline: none;

  .svg {
    outline: none;
  }

  &:hover .svg .shape {
    fill: #FFF;
  }

  &.active {
    &:hover .svg .shape {
      fill: $highlight-color;
    }
    .svg .shape {
      fill: $highlight-color;
    }
  }

}

.yt-timeline {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: $yt-slider-height;
  top: -$yt-slider-height;
  background: #313131;
}

.yt-seek {
  position: absolute;
  z-index: 10;
  height: $yt-slider-height;
  background: $highlight-color;
}

.yt-buffer {
  position: absolute;
  z-index: 9;
  height: $yt-slider-height;
  background: $buffer-color;
}

.yt-fullscreen-btn {
  //  width: 20px;
  //  right: 20px;
  &.active .svg .shape {
    fill: $highlight-color;
  }

  .yt-ipad & {
    right: 10px;
  }
}

.yt-time {
  color: #fff;
  font-size: 12px;
  display: none;

  @media(min-width: 660px) {
    display: inline-block;
  }
}

.yt-embed-message {
  position: absolute;
  z-index: 6;
  background-color: rgba(25, 25, 25, 0.8);
  width: 100%;
  height: 100%;
  display: none;

  .yt-embed-code-wrapper {
    position: absolute;
    top: 40%;
    @include css3-prefix(transform, translateY(-50%));
    width: 100%;

    .yt-embed-title {
      font-size: 15px;
      line-height: 60px;
    }

    .yt-embed-code {
      white-space: nowrap;
      background-color: #FFF;
      width: 90%;
      font-size: 13px;
      color: #333;
      padding: 15px;
      margin: 0 auto;
    }
  }

}

.yt-embed-btn {
  text-align: left;
  display: none;

  @media(min-width: 660px) {
    display: inline-block;
  }

  &:hover,
  &.active {
    span {
      color: $highlight-color;
    }
    .svg .shape {
      fill: $highlight-color;
    }
  }

  span,
  .svg {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }

  span {
    font-size: 12px;

    @media(min-width: 980px) {
      display: none;
    }

    @media(min-width: 1140px) {
      display: inline-block;
    }
  }
}

// Hide volume settings from phones and tablets (they don't allow the volume to be controlled by the video player)
body.touch & .yt-volume-wrapper {
  display: none !important;

  @media(min-width: 1140px) {
    display: inline-block !important;
  }
}

.yt-volume-wrapper {
  width: 150px;
  //  height: 25px;
  //  right: 60px;

  @media(min-width: 980px) {
    width: 110px;
  }

  @media(min-width: 1140px) {
    width: 150px;
  }

  .yt-volume,
  .yt-mute-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }

  .yt-mute-btn {
    //    width: 25px;
    //    height: 25px;
    //    position: absolute;
    //    left: 0; //

    .svg {
      .shape {
        display: none;
        &.off {
          display: block;
        }
      }
    }

    &.active {
      .svg {
        .shape {
          display: block;
          &.off {
            display: none;
          }
        }
      }
    }

  }

  .yt-volume {
    height: 2px;
    background-color: #FFF;
    width: 100px;

    @media(min-width: 980px) {
      width: 60px;
    }

    @media(min-width: 1140px) {
      width: 100px;
    }

    .yt-volume-level {
      position: absolute;
      z-index: 5;
      height: 2px;
      background-color: $highlight-color;
      width: 90%;
      &:after {
        content: ' ';
        width: 2px;
        height: 11px;
        position: absolute;
        background-color: $highlight-color;
        right: -2px;
        top: -4px;

      }
    }
  }

}

.yt-languages-btn {
  padding: 14px 0px;
  position: relative;
  //  background-color: red;

  .svg {
    margin: 0 5px;
    display: inline-block;
  }

  .label,
  .svg {
    vertical-align: middle;
  }

  .label {
    font-size: 12px;
    display: none;
    margin-top: 2px;

    @media(min-width: 740px) {
      display: inline-block;
    }
  }

  &:hover {
    .label {
      color: $highlight-color;
    }
  }

  &.open {
    .label {
      color: $highlight-color;
    }

    .svg .shape {
      fill: $highlight-color;
    }

    .yt-languages-list {
      display: block;
    }
  }

  .yt-languages-list {
    display: none;
    position: absolute;
    left: 0;
    top: 48px;
    padding: 3px 0;
    margin: 0;
    z-index: 40;
    background-color: rgba(71, 71, 71, 0.95);

    li {
      cursor: pointer;
      color: #FFF;
      padding: 3px 6px;
      margin: 0;
      list-style: none;
      text-align: left;
      font-size: 13px;
      white-space: nowrap;

      p {
        padding: 5px;
        margin: 0;

        i,
        span {
          display: inline-block;
          vertical-align: middle;
        }

        span {
          width: 120px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        i {
          margin: 0 5px;
          content: ' ';
          width: 8px;
          height: 8px;
          @include css3-prefix(border-radius, 50%);
          background-color: #999;
        }
      }

      //      &:last-child {
      //        border-bottom: none !important;
      //      }

      &:hover p {
        color: $highlight-color;
        background-color: #333;

        i {
          background-color: $highlight-color;
        }
      }
    }
  }

}

.yt-cc-btn {
  //  $right: 335px;
  //  right: $right - 100px;

  //  width: 22px;
  //  height: 22px;

  //  @media(min-width: 660px) {
  //    right: $right;
  //  }
  .svg {
    margin: 0 5px;
    display: inline-block;
  }

  .label,
  .svg {
    vertical-align: middle;
  }

  .label {
    display: none;
    font-size: 12px;
    min-width: 24px;

    &.on {
      @media(min-width: 740px) {
        display: inline-block;
      }
    }

  }

  &.active {

    .label {
      display: none;
      &.off {
        @media(min-width: 740px) {
          display: inline-block;
        }
      }
    }

  }

  &:hover {
    .label {
      color: #FFF;
    }

    .svg .shape {
      fill: #FFF;
    }
  }

  &.active {
    .label {
      color: $highlight-color;
    }
    .svg .shape {
      fill: $highlight-color;
    }
  }
}





