<div class="guInteractive">
    <div id="content">


        <header id="headerContainer">

            <div id="sc-logo">
                <!--<div id="sharePage">-->
                <!--<div class="inner">-->
                <!--<button data-source="twitter" id="shareTwitter"></button>-->
                <!--<button data-source="facebook" id="shareFacebook"></button>-->
                <!--</div>-->
                <!--</div>-->

                <a href="#"><img src="{{path.assets}}imgs/sc-logo.png"></a>
            </div>

            <div id="headerImage">
                <div class="animation">
                    <img class="animated-text" src="{{path.assets}}imgs/animated-text.gif">
                    <img class="bg" src="{{path.assets}}imgs/header-bg.jpg">
                </div>
            </div>

        </header>


        <div id="mainVideoContainer"></div>


        <div class="contentBlock" id="other-videos">
            <div class="separator"></div>

            <h4 class="sectionHeading">Other videos</h4>

            <div class="contentBlock-inner">
                <!--<div id="allEpisodesContainer">-->
                {{#videos}}
                <div class="episodeBlock {{id}} inactiveVideo" data-video-id="{{id}}">

                    <div class="thumb-wrapper">
                        <button data-video-id="{{id}}" class="play-button">
                            <span></span>
                        </button>
                        <img src="{{thumbnails.maxres.url}}">
                    </div>

                    <div class="episodeBlockContent">
                        <h2>{{title}}</h2>

                        <p>{{{shortDescription}}}</p>
                        <!--<p>{{{description}}}</p>-->
                    </div>
                </div>
                {{/videos}}

                {{#comingSoonVideos}}
                <div class="episodeBlock coming-soon">

                    <div class="thumb-wrapper">
                        <img src="{{path.assets}}imgs/videos/{{img}}">
                    </div>

                    <div class="episodeBlockContent">
                        <h2>{{{title}}} {{{dateTitle}}}</h2>

                        <p>{{{shortDescription}}}</p>
                    </div>
                </div>
                {{/comingSoonVideos}}
                <!--</div>-->
            </div>
        </div>


        <div class="contentBlock" id="signup">
            <h4 class="sectionHeading">More content</h4>

            <div id="signupBox" class="contentBlock-inner">

                <div id="signupInformation">
                    <h2>Subscribe here for the remaining videos</h2>

                    <p>Enter your email address and we will send you a reminder when new episodes arrive</p>
                </div>

                <div id="signupForm">
                    <iframe id="form" scrolling="no" frameborder="none" width="100%" height="40px"
                            src="{{path.root}}form.html"></iframe>
                    <!--<iframe id="form" scrolling="no" frameborder="none" width="100%" height="40px"-->
                    <!--src="http://interactive.guim.co.uk/visuals-blank-page/watch-me-date/form.html"></iframe>-->
                </div>

            </div>
        </div>


        <div class="contentBlock" id="about">
            <!--<div class="separator"></div>-->

            <h4 class="sectionHeading">About The Power of Privacy</h4>

            <div class="contentBlock-inner">
                <p class="half-width no-margin-top">
                    Through documentary videos, in-depth analysis and expert comment, we explore the concept of privacy
                    in a networked world.
                </p>
            </div>
        </div>


        <div class="contentBlock" id="how-safe">
            <!--<div class="separator"></div>-->

            <h4 class="sectionHeading">
                <a href="#"><span>Take the test</span></a>
                <!--<a href="#"><span>How secure is you business?</span></a>-->
                <a href="#"><img src="{{path.assets}}imgs/quiz-gif.gif"></a>
            </h4>

            <div class="contentBlock-inner">
                <h2><a href="#">How secure is you business?</a></h2>

                <p class="half-width">
                    <!--<p class="half-width no-margin-top">-->
                    <a href="#">
                        Answer six simple questions to help determine how secure your business is and get tips on how to
                        protect your digital privacy.
                    </a>
                    <br><br>
                    <a href="#" class="btn">
                        <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

	<path id="check-mark-4-icon" class="path" fill="#FFFFFF" d="M462,256c0,113.771-92.229,206-206,206c-113.771,0-206-92.229-206-206
		c0-113.771,92.229-206,206-206C369.771,50,462,142.229,462,256z M422,256c0-91.755-74.258-166-166-166
		c-91.755,0-166,74.259-166,166c0,91.755,74.258,166,166,166C347.755,422,422,347.741,422,256z M338.224,167.637L222.108,283.753
		l-50.296-50.31l-37.296,37.303l87.593,87.617l153.428-153.438L338.224,167.637z"/>

</svg>
                        <span>Take the test</span>
                    </a>
                </p>
            </div>
        </div>

    </div>

</div>
