<div class="guInteractive">
    <div id="content">
        <header id="headerContainer">
            <div id="headerImage">
                <img src="{{assets}}/imgs/header_on.jpg" />
            </div>
            <h2>One telephone. Many users. <br />What happens next?</h2>
        </header> 
        <div id="mainVideoContainer"></div>
        
        <div id="episodeTeaser">
            <!-- <h4 class="sectionHeading">Coming next week</h4> -->
            <div class="contentBlock" id="teaserContainer">
                <!-- <div id="nextWeekTeaser">
                    <div id="nextWeekVideo">
                        <div id="nextWeekVideoContainer">
                            <iframe src="{{teaser.video}}" scrolling="no" frameborder="none" width="100%" height="100%"></iframe>
                        </div>
                    </div>
                    
                    <p id="teaserMobile">Coming next week</p>
                    <h3>{{teaser.name}}</h3>
                    <date>{{teaser.date}}</date>
                    <p id="teaserDescription">{{{teaser.description}}}</p>
                </div> -->
        
                <div id="signupBox">
                    <div id="signupInformation">
                        <p id="signupTitle">Don't miss next week’s episode</p>
                        <p id="signupDescription">Submit your email address and we will send you a reminder when new episodes arrive</p>
                    </div>
                    <div id="signupForm">
                    <iframe id="form" scrolling="no" frameborder="none" width="100%" height="40px" src="http://interactive.guim.co.uk/visuals-blank-page/watch-me-date/form.html"></iframe>
                    </div>
                </div>
            </div>
         </div>
        


        
        <div class="contentBlock" id="allEpisodes">
            <h4 class="sectionHeading">The movies</h4>
            <div id="allEpisodesContainer">
                {{#allEpisodes}}
                    <div class="episodeBlock published-{{published}} {{id}} inactiveVideo" data-video-id="{{id}}">
                        <img src="{{assets}}/imgs/videos/{{id}}_400.jpg" />
                        <p>{{title}} <span>{{date}}</span></p>
                    </div>
                {{/allEpisodes}}
            </div>
        </div>
        

        
        <div class="contentBlock" id="aboutDates">
            <h4 class="sectionHeading">About Watch Me Date</h4>
            <div id="aboutDatesContainer">
                <p>Each week, we’ve chosen two different people, given them two pairs of Google Glass and packed them off on a date (there is usually a lot of alcohol involved too). Filming begins the minute they meet, and that off-button is only pressed once they’ve said goodbye. The results? You’re right there with them, on these awkward, often funny and sometimes even romantic first dates.</p>
            </div>
        </div>
        <div class="contentBlock" id="aboutDates">
            <h4 class="sectionHeading">Be on our show</h4>
            <div id="aboutDatesContainer">
                <p>Would you like an all-expenses evening out and the chance of a kiss ... or possibly love? Email <a href="mailto:watch.me.date@guardian.co.uk">watch.me.date@theguardian.com</a></p>
            </div>
        </div>
    </div>
    <footer>
        <div id="soulmatesBanner">
            <div class="advertContainer">
                <p>Sign up here for a free three-day trial of Guardian Soulmates</p>
                <img src="{{assets}}/imgs/soulmatesIcon.svg" id="soulmatesIcon"/>
                <a href="https://soulmates.theguardian.com/subscribe/freefebruary">
                    Join Now
                    <span id=""><img src="{{assets}}/imgs/soulmatesArrow.png" /></span>
                </a>
            </div>
        </div>
        {{#isWeb}}
        <div id="footerContent">
            <ul class="colophon u-cf">
                <li class="colophon__item"><a data-link-name="uk : footer : membership" href="https://membership.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_MEMBERSHIP">
                membership</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : jobs" href="http://jobs.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_JOBS">
                jobs</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : soulmates" href="https://soulmates.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SOULMATES">
                dating</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : masterclasses" href="/guardian-masterclasses?INTCMP=NGW_FOOTER_UK_GU_MASTERCLASSES">
                masterclasses</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : subscribe" target="_blank" href="http://subscribe.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SUBSCRIBE">
                subscribe</a></li>
                <li class="colophon__item"><a data-link-name="all topics" href="/index/subjects/a">all topics</a></li>
                <li class="colophon__item"><a data-link-name="all contributors" href="/index/contributors">all contributors</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : about us" target="_blank" href="/info">
                about us</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : contact us" target="_blank" href="/help/contact-us">
                contact us</a></li>
                <li class="colophon__item"><a data-link-name="complaints" href="/info/complaints-and-corrections">
                complaints &amp; corrections</a></li>
                <li class="colophon__item"><a data-link-name="terms" href="/help/terms-of-service">terms &amp; conditions</a></li>
                <li class="colophon__item"><a data-link-name="privacy" href="/help/privacy-policy">privacy policy</a></li>
                <li class="colophon__item"><a data-link-name="cookie" href="/info/cookies">cookie policy</a></li>
                <li class="colophon__item"><a data-link-name="securedrop" href="https://securedrop.theguardian.com/">securedrop</a></li>
            </ul>
            <div class="l-footer__misc">
            <div class="really-serious-copyright">© 2015 Guardian News and Media Limited or its affiliated companies. All&nbsp;rights&nbsp;reserved.</div>
            </div>
        </div>
        {{/isWeb}}
    </footer>
</div>
