{{#mainEpisode}}
<div id="mainEpisode" class="contentBlock">
    <div id="mainEpisodeVideo">

        <div id="big-play-btn-wrapper">
            <button id="big-play-btn" data-video-id="{{id}}" class="startVideo">
                <span></span>
            </button>
        </div>

        <div id="backgroundContainer">
            <!--<img id="backgroundImage" src="{{assets}}/imgs/videos/{{id}}_1260.jpg"/>-->
            <img id="backgroundImage" src="{{thumbnails.maxres.url}}"/>
            <div id="videoContainer"></div>
            <button data-video-id="{{id}}" class="startVideo"><span></span></button>
            <div id="endslate"></div>
        </div>
    </div>
    <div id="mainEpisodeContent">
        <h3>{{title}}</h3>
        <!--<date>{{date}}</date>-->
        <p id="episodeDescription">{{{description}}}</p>

        <div id="shareButtons">
            <button data-source="twitter" id="shareTwitter" data-video-id="{{id}}"></button>
            <button data-source="facebook" id="shareFacebook" data-video-id="{{id}}"></button>
        </div>
    </div>
</div>
{{/mainEpisode}}
