{{#mainEpisode}}
<div id="mainEpisode" class="contentBlock">

    <div id="mainEpisodeVideo">

        <div id="big-play-btn-wrapper">
            <button id="big-play-btn" data-video-id="{{id}}" class="startVideo play-button">
                <span></span>
            </button>
        </div>

        <div id="backgroundContainer">

            <!--Poster image for youtube video-->
            <img id="backgroundImage" src="{{thumbnails.maxres.url}}"/>

            <!-- Custom player + YouTube iframe will be injected here -->
            <div id="videoContainer"></div>

            <!--Big play button-->
            <button data-video-id="{{id}}" class="startVideo"><span></span></button>

            <!--End slate appearing at the end of the video-->
            <div id="endslate">{{endSlate}}</div>

        </div>
    </div>

    <div class="contentBlock">
        <h4 class="sectionHeading">&nbsp;</h4>

        <div class="contentBlock-inner">
            <div id="mainEpisodeContent">
                <h3>{{title}}</h3>

                <p id="episodeDescription">{{{description}}}</p>

                <div id="shareButtons">
                    <button data-source="twitter" id="shareTwitter" data-video-id="{{id}}"></button>
                    <button data-source="facebook" id="shareFacebook" data-video-id="{{id}}"></button>
                </div>
            </div>
        </div>

    </div>

</div>
{{/mainEpisode}}
