$accent-color: #ff827f;
$blue-color: #6eb9d0;
$content-bg-color: #333333;

// YouTube thumbnails
$videoThumbWidth: 480px;
$videoThumbHeight: 360px;

// Youtube customized player
$yt-slider-height: 6px;
$yt-player-controls-height: 48px;


// Main site CSS
body {
  margin: 0;
}

.element-interactive.interactive {
  margin: 0;
  padding: 0;
}

.guInteractive {

  @import 'responsive/main';

  @import 'partials/header';
  @import 'partials/content-block';
  @import "partials/youtube-player";
  @import 'partials/share-buttons';

  @import "partials/play-button";

  @import 'sections/main-episode';
  @import 'sections/episode-block';
  @import 'sections/how-safe';
  @import 'sections/signup';
  @import 'sections/endslate';
  @import 'sections/background-container';

  iframe {
    border: none;
  }
  #backtohome {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    vertical-align: top;
    span {
      display: inline-block;
      padding-top: 13px;
    }
  }
  iframe#form {
    overflow: hidden;
  }
  a, p a, li a {
    background: none;
    text-shadow: none;
  }
  background: #555;
  color: #fff;

  * {
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-family: "Guardian Egyptian Web", "Egyptian Display", "Guardian Text Egyptian Web", "Egyptian Text", Georgia, serif;
  }

  // GDN NAVIGATION
  #guardianNav {
    height: 48px;
    background: #296d96;
    width: 100%;
  }

  #navContainer {
    background: #005689;
    height: 100%;
    padding: 1px 10px 0;
    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }

  #guardianLogo {
    width: 170px;
    float: right;
    margin-top: 10px;
    display: inline-block;
  }

  #homeLogo {
    width: 15px;
    height: 18px;
    margin-top: 14px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
  }

  // CONTENT
  #content {
    background: $content-bg-color;
    height: auto;
    padding: 1px 0 80px;
    margin: 0 auto;
    overflow: hidden;
  }



  #episodeQuote {
    font-family: "Guardian Egyptian Web", "Egyptian Display", "Guardian Text Egyptian Web", "Egyptian Text", Georgia, serif;
    font-size: 20px;
  }



  #backgroundLayer {
    position: relative;
    display: none;
    @include css3-prefix(transition, 0.5s background);
  }





  #aboutDates {
    p {
      margin-top: 0;
      font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
      font-size: 14px;
      a {
        color: $accent-color;
      }
    }
    #participate {
      font-size: 18px;
      a {
        color: #da82d1;
        font-weight: bold;
      }
    }
  }

  footer {
    background: #424242;
    #soulmatesBanner {
      background: #f5f3e6;
      height: 280px;
      position: relative;
      padding-top: 20px;
      p {
        color: black;
        font-weight: bold;
        font-family: "Guardian Egyptian Web", "Egyptian Display", "Guardian Text Egyptian Web", "Egyptian Text", Georgia, serif;
        font-size: 22px;
        line-height: 1.2em;
        margin: 0 20px 20px;
      }
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      a {
        background: #995490;
        color: #fff;
        display: block;
        margin: 0 auto;
        width: 140px;
        height: 40px;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 0 0 10px;
        position: relative;
        span {
          position: absolute;
          right: 7px;
          top: 4px;
          width: 31px;
          height: 31px;
        }
      }
    }

  }
  .really-serious-copyright {
    font-size: 12px;
    color: #dcdcdc;
    font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
    margin: 0 10px 20px;
    padding-top: 10px;
  }
  #footerContent {
    padding-bottom: 1px;
    .colophon {
      column-count: 2;
      padding: 0;
      margin: 20px 10px 10px;
      li {
        padding: 0;
        margin: 0;
      }
    }
    a {
      color: gainsboro;
      text-decoration: none;
      padding-bottom: 12px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}


