/**
 * Project: Project name 
 * File:    Main SCSS
 */

$imgs-path: "../imgs/";

// FONTS
$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

/**
  * Use pasteup for deployed app. Use local folder, for local: '/bower_components/guss-webfonts/webfonts'
  */
//match: /\/\/pasteup\.guim\.co\.uk\/fonts\/0\.1\.0/g,
//replacement: '/bower_components/guss-webfonts/webfonts'

@import '../../bower_components/pasteup-palette/src/_palette.scss';
@import '../../bower_components/guss-webfonts/src/_webfonts.scss';
@import '../../bower_components/guss-typography/_typography.scss';

@import 'mixins';
@import 'partials/reset';
@import 'partials/fonts';
@import 'site';

@include guss-webfonts();
@include guss-typography-defaults;


#article-body.interactivePadding{
    padding-left:0;
    padding-right:0;
}


#article-header.interactiveHide{
    display:none;
}